[build]
  command = "npm run build"
  publish = "dist"

[functions]
  node_bundler = "esbuild"

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 4321

[build.environment]
  NODE_VERSION = "20"