@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}